<div class="home-page">
    <img src="/image/measureup.png" alt="Measure Up picture" style="width:600px;height:600px;">
    <div class="divider"></div>
    <div class="social-icons">
        <a href="#"><img src="/image/facebook.svg" alt="" /></a>
        <a href="#"><img src="/image/twitter.svg" alt="" /></a>
        <a href="#"><img src="/image/youtube.svg" alt="" /></a>
        <a href="#"><img src="/image/instagram.svg" alt="" /></a>
    </div>
</div>